.DS_Store

# Local .terraform directories
**/.terraform/*
*.terraform.lock.hcl*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Crash log files
crash.log

# .tfvars files
*.tfvars
